# Unity folders to ignore
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
UserSettings/

# Visual Studio / Rider
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db

# Unity crash / debug / preview files
sysinfo.txt
*.stacktrace
*.apk
*.aab

# Cache and local generated
*.unitypackage
*.local
*.lock
*.meta~*
*.bak